@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

@layer base {
  html {
    font-family: "GenSenRounded TW";
  }

  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 400;
    src: url(/public/fonts/Geo-Regular.ttf);
  }

  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 500;
    src: url(/public/fonts/GenSenRounded-M.ttc);
  }


  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 700;
    src: url(/public/fonts/GenSenRounded-B.ttc);
  }

  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 800;
    src: url(/public/fonts/GenSenRounded-H.ttc);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}