@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

@layer components {
  .trim {
    @apply capsize leading-[1.2];
  }
}

@layer base {
  :root {
    --slow-easing: linear(0, 0.00489 0.98%, 0.01969 2.04%, 0.08052 4.48%, 0.46927 15.162%,
        0.56666 18.222%, 0.64971 21.252%, 0.72209 24.402%, 0.7836 27.683%,
        0.83518 31.143%, 0.8779 34.853%, 0.91414 39.104%, 0.9424 43.814%,
        0.96368 49.145%, 0.97899 55.356%, 0.9888 62.366%, 0.99496 71.127%, 0.99966);

    --gentle-easing: linear(0, 0.00651 1.41%, 0.02602 2.91%, 0.05885 4.53%, 0.10605 6.321%,
        0.20936 9.521%, 0.5577 19.292%, 0.65798 22.512%, 0.74244 25.623%,
        0.81206 28.643%, 0.87034 31.703%, 0.91827 34.853%, 0.95674 38.154%,
        0.98593 41.604%, 1.00701 45.315%, 1.02064 49.395%, 1.02739 54.025%,
        1.02713 60.856%, 1.0069 83.198%, 1.00014);
    --quick-easing: linear(0, 0.00768 0.88%, 0.03109 1.82%, 0.12697 3.92%, 0.67088 11.771%,
        0.88117 15.492%, 0.95936 17.352%, 1.01976 19.232%, 1.06396 21.182%,
        1.09261 23.232%, 1.10239 24.472%, 1.10755 25.783%, 1.10815 27.183%,
        1.10421 28.713%, 1.08909 31.433%, 1.0383 38.064%, 1.01613 41.534%,
        0.99923 45.445%, 0.99031 49.585%, 0.98869 55.346%, 1.00084 74.947%, 0.99995);
  }



  html {
    font-family: 'GenSenRounded TW';
  }

  input {
    all: unset;
  }


  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.discordapp.com/attachments/850407770750713859/1299610089170145311/Geo-Regular.ttf?ex=671dd3b6&is=671c8236&hm=62162ea651b43ef02393ad60a7ca76d8084366f10a743ad9813d38dc0ce1b072&');
  }

  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.discordapp.com/attachments/850407770750713859/1299610089484845109/GenSenRounded-M.ttc?ex=671dd3b6&is=671c8236&hm=036aed6369b7d09b880d53d0f0e6a69af8585c97b2f380fd84c9108befa68159&');
  }


  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.discordapp.com/attachments/850407770750713859/1299610090139156531/GenSenRounded-B.ttc?ex=671dd3b7&is=671c8237&hm=9ae59cae2660b32b3b432763e48327e8ab7374baf8bd622fad8cee8189b9ea38&');
  }

  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 800;
    src: url('https://cdn.discordapp.com/attachments/850407770750713859/1299610090537619476/BaiJamjuree-BoldItalic.ttf?ex=671dd3b7&is=671c8237&hm=3149db8c77906300bb99bfde5e4d5771bf249e19f3485908b34dc1c1d63944ff&');
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.discordapp.com/attachments/850407770750713859/1299610051148910612/IBMPlexMono-Regular.ttf?ex=671dd3ad&is=671c822d&hm=03df7e569a92b6c9bc27ce111b05eb5c374a6570ae5455c68e18cfd50f723f3d&');
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.discordapp.com/attachments/850407770750713859/1299610051472003113/IBMPlexMono-Medium.ttf?ex=671dd3ad&is=671c822d&hm=00ef238072ad05036944b5668ba40648d547e58c6e3f08e3a6a71965c49c372f&');
  }


  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.discordapp.com/attachments/850407770750713859/1299610051778052137/IBMPlexMono-Bold.ttf?ex=671dd3ad&is=671c822d&hm=c7513f1a6eb15ded2bb77e7467297a5012556cfc3185de7a7af7e731ff99e5e2&');
  }
}