@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

@layer components {
  .trim {
    @apply capsize leading-[1.2];
  }
}

@layer base {
  :root {
    --slow-easing: linear(0, 0.00489 0.98%, 0.01969 2.04%, 0.08052 4.48%, 0.46927 15.162%,
        0.56666 18.222%, 0.64971 21.252%, 0.72209 24.402%, 0.7836 27.683%,
        0.83518 31.143%, 0.8779 34.853%, 0.91414 39.104%, 0.9424 43.814%,
        0.96368 49.145%, 0.97899 55.356%, 0.9888 62.366%, 0.99496 71.127%, 0.99966);

    --gentle-easing: linear(0, 0.00651 1.41%, 0.02602 2.91%, 0.05885 4.53%, 0.10605 6.321%,
        0.20936 9.521%, 0.5577 19.292%, 0.65798 22.512%, 0.74244 25.623%,
        0.81206 28.643%, 0.87034 31.703%, 0.91827 34.853%, 0.95674 38.154%,
        0.98593 41.604%, 1.00701 45.315%, 1.02064 49.395%, 1.02739 54.025%,
        1.02713 60.856%, 1.0069 83.198%, 1.00014);
    --quick-easing: linear(0, 0.00768 0.88%, 0.03109 1.82%, 0.12697 3.92%, 0.67088 11.771%,
        0.88117 15.492%, 0.95936 17.352%, 1.01976 19.232%, 1.06396 21.182%,
        1.09261 23.232%, 1.10239 24.472%, 1.10755 25.783%, 1.10815 27.183%,
        1.10421 28.713%, 1.08909 31.433%, 1.0383 38.064%, 1.01613 41.534%,
        0.99923 45.445%, 0.99031 49.585%, 0.98869 55.346%, 1.00084 74.947%, 0.99995);
  }



  html {
    font-family: 'GenSenRounded TW';
  }

  input {
    all: unset;
  }


  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Geo-Regular.ttf);
  }

  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/GenSenRounded-M.ttc);
  }

  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/GenSenRounded-B.ttc);
  }

  @font-face {
    font-family: 'GenSenRounded TW';
    font-style: normal;
    font-weight: 800;
    src: url(/fonts/GenSenRounded-H.ttc);
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
  }
}