/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: default */
.absolute{position:absolute;}
.relative{position:relative;}
.static{position:static;}
.inset-0{inset:0;}
.z-0{z-index:0;}
.z-20{z-index:20;}
.z-50{z-index:50;}
.grid{display:grid;}
.grid-flow-col{grid-auto-flow:column;}
.grid-flow-row{grid-auto-flow:row;}
.m-0{margin:0;}
.mx-5{margin-left:1.25rem;margin-right:1.25rem;}
.my{margin-top:1rem;margin-bottom:1rem;}
.mb-0{margin-bottom:0;}
.contents{display:contents;}
.hidden{display:none;}
.aria-expanded\:w-\[80px\][aria-expanded="true"]{width:80px;}
.h-\[450px\]{height:450px;}
.h-\[50px\]{height:50px;}
.h-10{height:2.5rem;}
.max-h-\[450px\]{max-height:450px;}
.max-h-full{max-height:100%;}
.max-w-fit{max-width:fit-content;}
.min-h-\[52px\]{min-height:52px;}
.min-h-full{min-height:100%;}
.min-h-screen{min-height:100vh;}
.min-w-full{min-width:100%;}
.min-w-screen{min-width:100vw;}
.w-\[300px\]{width:300px;}
.w-\[450px\]{width:450px;}
.w-10{width:2.5rem;}
.w-dvw{width:100dvw;}
.w-full{width:100%;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.shrink-0{flex-shrink:0;}
.flex-col{flex-direction:column;}
.\[\&_\*\]\:transform-gpu *{transform:translate3d(var(--un-translate-x), var(--un-translate-y), var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.place-content-start{place-content:start;}
.content-evenly{align-content:space-evenly;}
.items-start{align-items:flex-start;}
.items-center{align-items:center;}
.self-stretch{align-self:stretch;}
.justify-end{justify-content:flex-end;}
.justify-center{justify-content:center;}
.justify-stretch{justify-content:stretch;}
.gap-\[20px\]{gap:20px;}
.space-x-0>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(0px * calc(1 - var(--un-space-x-reverse)));margin-right:calc(0px * var(--un-space-x-reverse));}
.space-x-2\.5>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(0.625rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(0.625rem * var(--un-space-x-reverse));}
.space-y-\[20px\]>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(20px * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(20px * var(--un-space-y-reverse));}
.space-y-1>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.25rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.25rem * var(--un-space-y-reverse));}
.space-y-5>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(1.25rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(1.25rem * var(--un-space-y-reverse));}
.overflow-hidden{overflow:hidden;}
.overflow-scroll{overflow:scroll;}
.rounded{border-radius:0.25rem;}
.rounded-\[20px\]{border-radius:20px;}
.rounded-\[5px\]{border-radius:5px;}
.rounded-full{border-radius:9999px;}
.rounded-xl{border-radius:0.75rem;}
.rounded-b-3xl{border-bottom-left-radius:1.5rem;border-bottom-right-radius:1.5rem;}
.rounded-t-3xl{border-top-left-radius:1.5rem;border-top-right-radius:1.5rem;}
.aria-selected\:bg-white[aria-selected="true"]{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity));}
.bg-background{--un-bg-opacity:1;background-color:rgb(25 25 25 / var(--un-bg-opacity));}
.bg-deep-background{--un-bg-opacity:1;background-color:rgb(14 14 14 / var(--un-bg-opacity));}
.from-deep-background{--un-gradient-from-position:0%;--un-gradient-from:rgb(14 14 14 / var(--un-from-opacity, 1)) var(--un-gradient-from-position);--un-gradient-to-position:100%;--un-gradient-to:rgb(14 14 14 / 0) var(--un-gradient-to-position);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}
.to-deep-background{--un-gradient-to-position:100%;--un-gradient-to:rgb(14 14 14 / var(--un-to-opacity, 1)) var(--un-gradient-to-position);}
.to-23\%{--un-gradient-to-position:23%;}
.bg-gradient-to-t{--un-gradient-shape:to top;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
.object-cover{object-fit:cover;}
.p-\[5px\]{padding:5px;}
.p-0{padding:0;}
.p-5{padding:1.25rem;}
.p-8{padding:2rem;}
.px-\[20px\]{padding-left:20px;padding-right:20px;}
.px-\[25px\]{padding-left:25px;padding-right:25px;}
.px-\[30px\]{padding-left:30px;padding-right:30px;}
.px-0{padding-left:0;padding-right:0;}
.px-5{padding-left:1.25rem;padding-right:1.25rem;}
.py-\[25px\]{padding-top:25px;padding-bottom:25px;}
.py-\[5px\]{padding-top:5px;padding-bottom:5px;}
.pb-0{padding-bottom:0;}
.pl-\[20px\]{padding-left:20px;}
.pr-8{padding-right:2rem;}
.pt-\[30px\]{padding-top:30px;}
.pt-5{padding-top:1.25rem;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-\[15px\]{font-size:15px;}
.text-\[17px\]{font-size:17px;}
.text-2xl{font-size:1.5rem;line-height:2rem;}
.text-3xl{font-size:1.875rem;line-height:2.25rem;}
.text-6xl{font-size:3.75rem;line-height:1;}
.aria-selected\:text-black[aria-selected="true"]{--un-text-opacity:1;color:rgb(35 46 61 / var(--un-text-opacity));}
.text-hint{--un-text-opacity:1;color:rgb(79 79 79 / var(--un-text-opacity));}
.text-lime-300{--un-text-opacity:1;color:rgb(190 242 100 / var(--un-text-opacity));}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity));}
.text-opacity-50{--un-text-opacity:0.5;}
.font-bold{font-weight:700;}
.font-normal{font-weight:400;}
.leading-\[78px\]{line-height:78px;}
.tracking-\[6px\]{letter-spacing:6px;}
.shadow{--un-shadow:var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.drop-shadow-lg{--un-drop-shadow:drop-shadow(0 10px 8px var(--un-drop-shadow-color, rgb(0 0 0 / 0.04))) drop-shadow(0 4px 3px var(--un-drop-shadow-color, rgb(0 0 0 / 0.1)));filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.duration-300{transition-duration:300ms;}
.duration-500{transition-duration:500ms;}
.ease,
.ease-in-out{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
@media (min-width: 1024px){
.lg\:block{display:block;}
.lg\:space-x-\[20px\]>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(20px * calc(1 - var(--un-space-x-reverse)));margin-right:calc(20px * var(--un-space-x-reverse));}
}
@media (min-width: 1280px){
.xl\:items-center{align-items:center;}
}